<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="practice.com.simpleimagefeed">

<uses-permission android:name="android.permission.INTERNET" />

<application
    android:allowBackup="true"
    android:icon="@drawable/icon"
    android:label="@string/app_name"
    android:roundIcon="@drawable/icon"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
        android:name="practice.com.simpleimagefeed.ImageFeed.ImageFeedActivity"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:name="practice.com.simpleimagefeed.ImageFeedDetails.ImageFeedDetailsActivity"
        android:label="@string/title_activity_image_feed_details"
        android:parentActivityName="practice.com.simpleimagefeed.ImageFeed.ImageFeedActivity"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="practice.com.simpleimagefeed.ImageFeed.ImageFeedActivity" />
    </activity>
    <activity android:name="practice.com.simpleimagefeed.SplashActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>

</manifest>